@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@100;500&display=swap%27'); 

:root{
    --background-budy: #FFF9E7;
    --background-nav: #6438dd;
    --background-footer: #;
    --sombra: grey;
}

*{
    margin: 0;      
    padding: 0;
    box-sizing:border-box;
}
body {
    background-color: var(--background-page);
}    

p{
    font-family: 'lato', Roboto;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
a {
    font-family: 'lato', cursive;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--background-footer)
}

h2,
h3 {
    text-align: center;
}

h1{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}
h2{
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
}

body{
    background-color: var(--background-budy);
}
hr {
    margin: 1rem;
}

nav{
    margin: 0 auto;
    width: 80vw;
    background-color: var(--background-nav);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2.25rem 1.5rem;
    box-shadow: 2px 2px 5px var(--sombra);
}

.logo{
    display: flex;
    width: 20%;
    justify-content: left;
    position: relative;
    align-items: center;
    color: #224d0e;
}

.icone{
    width: 5rem;
    display: flex;
    padding-left: 1rem;     
}

.titulo{
    font-family: 'lato', cursive;
    color: #e23e88;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 800;
}

ul{
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 24px;
    color: #e23e88;
}
#perfil{
    color: #4f3deb;
}

main{
    width: 80vw;
    margin: 0 auto;
}

#sobre{
    display: flex;
    align-items: center;
    padding: 20px;
    
    border-radius: 16px;
    gap: 20px;
    background-color: #C9EBED;
    text-align: justify;
}

.texto_sobre{
    margin: 1.75rem;
}

.foto{
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--sombra);
}
#meu_video{
    margin-bottom: 2rem;
    color: #4f3deb;
}
.video{
    width: 30vw;
    margin: 50px auto;
    align-items: center;
    display: flex;
    border-radius: 8px;   
    
}
footer{
    width: 80vw;
    margin: 0 auto;
    background-color: var(--background-footer);
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    display: flex;
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 1.25rem;
}
.ass {
    display: flex;
    padding-top: 0.25rem;
    color:#000000;
    justify-content: last baseline;
    font-size: 1.25rem;
}   
.icons {
    width: 45px;
    padding: 0 0.5rem;
    margin: 1rem;
}   
/*Página de Contato*/

.contato {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 40px;
    font-family: 'lato', cursive;
   
}

.endereco {
    font-family: 'lato', Roboto;
    color: var(--dark-purple);
    font-size: 1rem;
    
}
#formulario_mensagem {
    width: 60vw;
}
#formulario_buscacep {
    width: 40vw;
}

/*Estilizar o Formulário*/

label {
    font-family: 'lato', Roboto;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.15rem;
}

input,
textarea,
button{
    font-family: 'lato', Roboto;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.25rem;
    color:#000000;
}

button{
    font-family: 'lato', Roboto;
    background-color: var(--background-nav);
    font-weight: 800;
    color: white;
    
}
button:hover{
    background-color: navy;

}

input::placeholder
textarea::placeholder{
    color: var(--background-nav)
}
.campos-form {
    margin-bottom: 1rem;
}

#txtNome,
#txtEmail,
#txtMensagem,
#txtCep {
    font-size: 1rem;
    padding: 0.25rem 0;
}